@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);


*{
	margin: 0px;
	padding: 0px;
}

html{
	height: 100%;
}

body{
	height: 100%;
	font-family: 'Roboto','verdana', sans-serif;
	position: relative;
}


.clearfix:after{
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
	clear:both;
}

.wrapper {
	margin: 0 auto;
	max-width:1122px;
	height: 100%;
}

header{
	
}


header h2 {text-align: center;}


.slider_wrapper {
	width: 90%;
	overflow: hidden;
	position: relative;	
	margin:0 auto;
}

.slider_container{
	width: 400%;
	position: relative;
	left: 0;
}

.slides{float: left;width: 25%;}
.slides img{width:100%;}



.prev_slide, .next_slide {
	position: absolute;
	width: 60px;
	height: 100%;	
	background: #000;
	opacity: 0;
	cursor: pointer;
	top: 0;
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}

.prev_slide:hover, .next_slide:hover{opacity: 0.5;}
.prev_slide{left: 0px;} 
.next_slide{right: 0px;} 


/* слайдер 2 */

.slider_wrapper_css{
	width: 80%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;			
} 

.slider_wrapper_css input { display: none;}
.slider_css_container{
	width: 400%; 
-webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
     -o-transition: all .5s ease;
        transition: all .5s ease;
    }
.slides_css {float: left;width: 25%;}
.slides_css img{width: 100%;}
.controls {width: 100%;}
.controls label{display: none; top:50%;}

#slide1:checked ~ .controls label:nth-child(2),
#slide2:checked ~ .controls label:nth-child(3),
#slide3:checked ~ .controls label:nth-child(4),
#slide4:checked ~ .controls label:nth-child(1){
	display: block;
	border-top: 30px solid transparent ;
	border-left: 30px solid #000 ;
	border-bottom: 30px solid transparent ;
	position: absolute;
	cursor: pointer;
	right:4px;
	margin-top: -30px;
}
#slide1:checked ~ .controls label:nth-child(4),
#slide2:checked ~ .controls label:nth-child(1),
#slide3:checked ~ .controls label:nth-child(2),
#slide4:checked ~ .controls label:nth-child(3){
	display: block;
	border-top: 30px solid transparent ;
	border-right: 30px solid #ccc ;
	border-bottom: 30px solid transparent ;
	position: absolute;
	cursor: pointer;
	left:4px;
	margin-top: -30px;
}

#slide1:checked ~ .slider_css_container{margin-left: 0;}
#slide2:checked ~ .slider_css_container{margin-left: -100%;}
#slide3:checked ~ .slider_css_container{margin-left: -200%;}
#slide4:checked ~ .slider_css_container{margin-left: -300%;}