@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);


*{
	margin: 0px;
	padding: 0px;
}

html{
	height: 100%;
}

body{
	height: 100%;
	font-family: 'Roboto','verdana', sans-serif;
	position: relative;
}


.clearfix:after{
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
	clear:both;
}

.wrapper {
	margin: 0 auto;
	max-width:1122px;
	height: 100%;
}

header{
	
}


header h2 {text-align: center;}


.slider_wrapper {
	width: 900px;
	overflow: hidden;
	position: relative;	
	margin:0 auto;
}

.slider_container{
	width: 4500px;
	position: relative;
	left: 0;
}

.slides{
	float: left;	
}
img{
	width:100%;
}

.color_blue {background: blue;}
.color_green {background: green;}
.color_pink {background: pink;}
.color_yellow {background: yellow;}
.color_ds {background: #525252;}

.prev_slide, .next_slide {
	position: absolute;
	width: 60px;
	height: 100%;	
	background: #000;
	opacity: 0;
	cursor: pointer;
	top: 0;
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}

.prev_slide:hover, .next_slide:hover{opacity: 0.5;}
.prev_slide{left: 0px;} 
.next_slide{right: 0px;} 