@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);


*{
	margin: 0px;
	padding: 0px;
}

html{
	height: 100%;
}

body{
	height: 100%;
	font-family: 'Roboto','verdana', sans-serif;
	position: relative;
  background: #eaeaea;
}


.clearfix:after{
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
	clear:both;
}

.wrapper {
	margin: 0 auto;
	max-width:1122px;
	height: 100%;
}

h2 {
  text-align: center;
  color:#748089;
  font-family: "PTsans",sans-serif;
}


/* слайдер 2 */

.slider_wrapper_css{
	width: 60%;
	overflow: hidden;
	position: relative;
  float: left;
  border: 10px solid #fff;
  -webkit-box-shadow: 0px 7px 15px -5px #545454;    
  -moz-box-shadow: 0px 7px 15px -5px #545454;    
  box-shadow: 0px 7px 15px -5px #545454;		
} 

.slider_wrapper_css input { display: none;}
.slider_css_container{
	width: 400%; 
-webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
     -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
    }
.slides_css {float: left;width: 25%;}
.slides_css img{width: 100%;}
.controls {width: 100%;}
.controls label{display: none; top:50%;}

#slide1:checked ~ .controls label:nth-child(2),
#slide2:checked ~ .controls label:nth-child(3),
#slide3:checked ~ .controls label:nth-child(4),
#slide4:checked ~ .controls label:nth-child(1){
	display: block;
  background: #fff;
  width: 30px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  right: 0px;
  margin-top: -35px;
  -webkit-border-radius: 45px 0 0 45px;
  -moz-border-radius: 45px 0 0 45px;
  border-radius: 45px 0 0 45px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#slide1:checked ~ .controls label:nth-child(4),
#slide2:checked ~ .controls label:nth-child(1),
#slide3:checked ~ .controls label:nth-child(2),
#slide4:checked ~ .controls label:nth-child(3){
	display: block;
  background: #fff;
  width: 30px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  left: 0px;
  margin-top: -35px;
  -webkit-border-radius: 0 45px 45px 0px;
  -moz-border-radius: 0 45px 45px 0px;
  border-radius: 0 45px 45px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#slide1:checked ~ .controls label:nth-child(2):hover,
#slide2:checked ~ .controls label:nth-child(3):hover,
#slide3:checked ~ .controls label:nth-child(4):hover,
#slide4:checked ~ .controls label:nth-child(1):hover{
  background: #EDEDED;
  box-shadow: inset -3px 0px 10px -4px rgba(0, 0, 0, 0.58);
}
#slide1:checked ~ .controls label:nth-child(4):hover,
#slide2:checked ~ .controls label:nth-child(1):hover,
#slide3:checked ~ .controls label:nth-child(2):hover,
#slide4:checked ~ .controls label:nth-child(3):hover{
  background: #EDEDED;
  box-shadow: inset 3px 0px 10px -4px rgba(0, 0, 0, 0.58);
}

#slide1:checked ~ .slider_css_container{margin-left: 0;}
#slide2:checked ~ .slider_css_container{margin-left: -100%;}
#slide3:checked ~ .slider_css_container{margin-left: -200%;}
#slide4:checked ~ .slider_css_container{margin-left: -300%;}

.active-dot{
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -65px;
  z-index: 20;
}
.active-dot label{
  display: inline-block;
  background:#fff;
  width: 15px;
  height: 15px;
  border-radius: 20px ;
  cursor: pointer;
  box-shadow: inset 1px 1px 3px 0px #000;
}

#slide1:checked ~ .active-dot label:nth-child(1),
#slide2:checked ~ .active-dot label:nth-child(2),
#slide3:checked ~ .active-dot label:nth-child(3),
#slide4:checked ~ .active-dot label:nth-child(4){
  background:#f56431;
}

.tabs{
  width: 35%;
  height: 200px;
  float: left;
  margin-left: 1%;
}
.tab-items{margin-bottom: 4px;}
#tab-1:checked ~ .tab-items label:nth-child(1), 
#tab-2:checked ~ .tab-items label:nth-child(2), 
#tab-3:checked ~ .tab-items label:nth-child(3){
  background: #f54341;
  color:#fff;
  font-family: "roboto";
  box-shadow: inset -1px 0px 0px #dd4343;
}

.tab-head{
  padding: 5px 10px;
  background: #FDFDFD;
  border-radius: 7px 7px 0 0;
  box-shadow: inset -1px 0px 0px #CAC9C9;
}

.tab-content{
  display: none;
  padding: 10px 12px;
  background: #fff;
  border-radius: 0 10px 10px 10px;
  box-shadow: 1px 1px 0px 1px #ccc;
}

#tab-1:checked ~ #cnt-1,
#tab-2:checked ~ #cnt-2,
#tab-3:checked ~ #cnt-3{
  display: block;  
}